#todoApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    margin: 0.5em;
}

#todoHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 16px;
}

.todoAppInstructions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 0.75em;
    margin: 0;
}